:root{
    --header_height: 80px;
    --grey1: rgba(0, 0, 0, 0.05);
    --navy1: #26374D;
}

html{
    font-size: 20px;
}

body{
    background-color: white;
}

.header{
    background-color: var(--grey1);
    height: var(--header__height);
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.header *{
    height: var(--header_height);
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    line-height: var(--header_height);
    font-family: 'New Century Schoolbook', 'TeX Gyre Schola', 'serif';
}

.header-left{
    justify-content: flex-start;
}

.header-left img{
    padding-top: 20px;
}

.header-middle{
    justify-content: center;
}

.header-right{
    justify-content: flex-end;
}

.content{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer{
    background-color: var(--navy1);
    border: 1px solid var(--navy1);
    display: flex;
    flex-direction: row;
    color: white;
}