<!-- simple page for promoting the theme and purpose to users -->

{% extends "base.html" %}

{% block content %}

<div class="about-flex">
  <div><img src="{{ url_for('static', filename='assets/ronaldo.jpg') }}"></div>
  <div><img src="{{ url_for('static', filename='assets/nfl.jpg') }}"></div>
  <div><img src="{{ url_for('static', filename='assets/nba.jpg') }}"></div>
</div>

<p align="center">We love sporting trivia of all sorts! We're currently supporting quizlets for Soccer, NFL and the NBA. </p>
<p align="center">We offer stats and feedback for each individual user, aswell as a safe and easy registration/user login. </p>
<p align="center">Hope you enjoy!</p>
{% endblock %}
