<!-- page for user registration -->

{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>

    <h2>
        {{errors}}
    </h2>

    <form name="register" action="" method="post">
        <div class="form">
            {{form.hidden_tag()}}
            <span class="input">
                <p>
                    {{ form.username.label }}{{ form.username(class="input") }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </span>
            <span class="input">
                <p>
                    {{ form.email.label }}{{ form.email(class="input") }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </span>
            <span class="input">
                <p>
                    {{ form.firstname.label }}{{ form.firstname(class="input") }}<br>
                    {% for error in form.firstname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </span>
            <span class="input">
                <p>
                    {{ form.surname.label }}{{ form.surname(class="input") }}<br>
                    {% for error in form.surname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </span>
            <span class="input">
                <p>
                    {{ form.password.label }}{{ form.password(class="input") }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </span>
            <p> {{ form.submit() }} </p>
        </div>
    </form>


    <p>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li> {{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    </p>

    <p>
        <ul>
            {% for user in users %}
            <li> {{user.username}} {{user.password_hash}}</li>
            {% endfor %}
        </ul>
    </p>

{% endblock %}
