<!-- page for user acc details and results/stats -->

{% extends "base.html" %}

{% block content %}
    <div class="user-main">
        <h2>Welcome back, {{ current_user.username }}</h2>


        <p><a href={{ url_for('logout') }}>Logout</a></p>

        <div>
            <h4>Results</h4>
            <table>
                <thead>
                    <tr>
                        <th>Quiz</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                        <tr>
                            <td>{{result.quiz_title}}</td>
                            <td>{{result.score}}/{{result.questions_answered}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
